@tailwind base;
@tailwind components;
@tailwind utilities;

// Colors:
// =======

 // Named colors
 $lighter-blue:          rgb(218, 238, 243); // #DAEEF3
 $light-blue:            rgb(186, 224, 234);  // #BAE0EA
 $medium-blue:           rgb(119,197,216); // #77C5D8
 $dark-blue:             rgb(68, 157, 194);  // #449DC2
 $darker-blue:           rgb(32, 106, 138);  // #206A8A
 
 $lighter-green:         rgb(233,240,193);  // #e9f0c1
 $light-green:           rgb(214,226,140);  // #d6e28c
 $medium-green:          rgb(173,202,42);  // #adca2a
 $dark-green:            rgb(125,158,56);  // #7d9e38
 $darker-green:          rgb(56,105,57);  // #386939
 
 $lighter-magenta:       rgb(251,208,211);  // #fbd0d3
 $light-magenta:         rgb(246,169,178);  // #f6a9b2
 $medium-magenta:        rgb(236,90,122);  // #ec5a7a
 $dark-magenta:          rgb(187,54,93);  // #bb365d
 $darker-magenta:        rgb(159,48,77);  // #9f304d
 
 $lighter-yellow:       rgb(255,240,190);  // #fff0be
 $light-yellow:         rgb(255,224,134);  // #ffe086
 $medium-yellow:        rgb(252,195,0);  // #fcc300
 $dark-yellow:          rgb(247,163,21);  // #f7a315
 $darker-yellow:        rgb(212,127,28);  // #d47f1c
 
 $light-grey:            rgb(240, 240, 240); // #f0f0f0
 $medium-grey:           rgb(223, 226, 229); //#dfe2e5;
 $dark-grey:             rgb(217, 217, 217); //#d9d9d9;
 
 $transparent-grey:      rgba(white, 0.4);  // use for hover on dark background
 $transparent-white:     rgba(white, 0.7);  // use for hover on light background
 $white:                 #ffffff;
 $black:                 #000;

 

@import 